* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.sectoin-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* ================= HEADER STYLES =============== */
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.text-italic {
  font-style: italic;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* ================= /HEADER STYLES =============== */

/* ================= HERO STYLES =============== */

.section-hero {
  border-radius: 30px;
  max-width: 1200px;
  max-height: 600px;
  background-color: #1e1823;
  margin-left: auto;
  margin-right: auto;
}

.container-hero {
  padding: 375px 76px 42px 76px;
  /*display: flex;
  flex-direction: column;
  row-gap: 32px;*/
}

.main-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 482px;
  margin-bottom: 32px;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-btn {
  display: flex;
  justify-content: space-between;
  column-gap: 14px;
}

.btn-buy-now {
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  min-width: 144px;
  height: 45px;
}

.btn-buy-now:hover,
.btn-buy-now:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.link-how-made {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 185px;
  height: 45px;
}

.link-how-made:hover,
.link-how-made:focus {
  color: #fd9222;
}

.link-scroll-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
}

.link-scroll-down:hover,
.link-scroll-down:focus {
  color: #fd9222;
}
/* ================= /HERO STYLES =============== */

/* ================= BENEFITS STYLES =============== */
/*.section-benefits {
  width: 1200px;
  height: 280px;
  background: #1e1823;
}*/

.main-benefits-title {
  display: none;
}

.benefits-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.benefits-dsc {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ================= /BENEFITS STYLES =============== */

/* ================= INGREDIENTS STYLES =============== */
/* .section-ingredients { 
  width: 1200px;
  height: 280px;
} */

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  color: #111;
}

.ingredients-section-title {
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.text-orange {
  color: #fd9222;
}

.main-ingredients-dsc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ingredients-list {
  display: flex;
  column-gap: 24px;
}

.ingredients-item {
  border-radius: 15px;
  width: calc((100%-72) / 4);
  padding: 28px 32px;
  border: 1px solid #fd9222;
  color: #ffffff;
}

.ingredients-item:nth-child(4n + 1) {
  background: #fd9222;
}

.ingredients-item:nth-child(even) {
  background: #fff;
  color: #111111;
}

.ingredients-item:nth-child(4n + 3) {
  background: #1e1823;
  border: 1px solid #1e1823;
}

.ingredients-item-img {
  margin-bottom: 36px;
}

.ingredients-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}

/* ================= /INGREDIENTS STYLES =============== */

/* ================= PROCESS STYLES =============== */
.process-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.process-list {
  list-style: disc;
}

.process-item-dsc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* ================= /PROCESS STYLES =============== */

/* ================= REVIEWS STYLES =============== */
.revies-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.reviews-item-dsc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
}
/* ================= /REVIEWS STYLES =============== */

/* ================= PAGE FOOTER STYLES =============== */
.page-footer {
  width: 1200px;
  height: 298px;
  background: #1e1823;
}

.page-footer-title {
  font-weight: 500;
  font-size: 28px;
  color: #fff;
}

.contact-block-dsc {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.contact-block-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

.page-footer-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
/* ================= /PAGE FOOTER STYLES =============== */
